{
    "trailingComma": "es5",
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "editorconfig": true,
    "overrides": [
        {
            "files": "Pulumi.*.yaml",
            "options": {
                "singleQuote": false
            }
        }
    ]
}
